@page
@using SailClubLibrary.Models
@model RazorBoatApp2026InClass.Pages.Boats.CreateBoatModel
@{
	ViewData["Title"] = "Create boat";
}

<h1>Create boat</h1>

<form method="post">
	<div asp-validation-summary="All" class="text-danger"></div>
	@* <div class="form-group">
		<label asp-for="@Model.NewBoat.Boat_ID" class="control-label"></label>
		<input asp-for="@Model.NewBoat.Boat_ID" class="form-control"/>
		<span asp-validation-for="@Model.NewBoat.Boat_ID" class="text-danger"></span>
	</div> *@
	<div class="form-group">
		<label asp-for="@Model.NewBoat.Boat_Model" class="control-label"></label>
		<input asp-for="@Model.NewBoat.Boat_Model" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="@Model.NewBoat.Boat_Sailnumber" class="control-label"></label>
		<input asp-for="@Model.NewBoat.Boat_Sailnumber" class="form-control" />
		<span asp-validation-for="@Model.NewBoat.Boat_Sailnumber" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.NewBoat.Boat_TheBoatType" class="control-label"></label>
		<select asp-for="@Model.NewBoat.Boat_TheBoatType" asp-items="Html.GetEnumSelectList<BoatType>()" class="form-control"></select>
	</div>
	<div class="form-group">
		<label asp-for="@Model.NewBoat.Boat_Draft" class="control-label"></label>
		<input asp-for="@Model.NewBoat.Boat_Draft" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="@Model.NewBoat.Boat_Width" class="control-label"></label>
		<input asp-for="@Model.NewBoat.Boat_Width" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="@Model.NewBoat.Boat_Length" class="control-label"></label>
		<input asp-for="@Model.NewBoat.Boat_Length" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="@Model.NewBoat.Boat_yearofconstruction" class="control-label"></label>
		<input asp-for="@Model.NewBoat.Boat_yearofconstruction" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="@Model.NewBoat.Boat_EngineInfo" class="control-label"></label>
		<input asp-for="@Model.NewBoat.Boat_EngineInfo" class="form-control" />
	</div>

	<div class="form-group">
		<input type="submit" value="Create a boat" class="btn-primary" />
	</div>

	<div>
		<a asp-page="index">Back to list of boats</a>
	</div>
</form>
