@page
@model RazorBoatApp2026InClass.Pages.Bookings.CreateBookingModel
@{
	ViewData["Title"] = "Create booking";
}

<h1>Create booking</h1>

<p>Boat ID: @Model.Boat.Id</p>
<p>Boat Sailnumber: @Model.Boat.SailNumber</p>
<p>Boat Model: @Model.Boat.Model</p>
<p>Boat Year of Construction: @Model.Boat.YearOfConstruction</p>

<form method="post">
	<div class="form-group">
		<label asp-for="@Model.StartDate" class="control-label"></label>
		<input asp-for="@Model.StartDate" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="@Model.EndDate" class="control-label"></label>
		<input asp-for="@Model.EndDate" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="@Model.Destination" class="control-label"></label>
		<input asp-for="@Model.Destination" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="@Model.Id" class="control-label"></label>
		<input asp-for="@Model.Id" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="@Model.PhoneNumber" class="control-label"></label>
		<input asp-for="@Model.PhoneNumber" class="form-control" />
	</div>
	@* <div class="form-group">
		<label asp-for="@Model.Booking.TheBoat" class="control-label"></label>
		<input asp-for="@Model.Booking.TheBoat" class="form-control" />
	</div> *@
	@* <input type="hidden" asp-for="@Model.Boat" /> *@

	<div class="form-group">
		<input type="submit" value="Create a booking" class="btn-primary" />
	</div>

	<div>
		<a asp-page="ChooseBoat">Back to list of boats</a>
	</div>
</form>
