@page
@using SailClubLibrary.Models
@model RazorBoatApp2026InClass.Pages.Members.IndexModel
@{
	ViewData["Title"] = "List members";
}

<h1>List of members</h1>

<p>
	<a asp-page="CreateMember">Create a new member</a>
</p>

<form method="get">
	search:<input type="text" asp-for="@Model.FilterCriteria" />
	<select asp-for="@Model.FilterBy" class="form-select d-inline-block" style="width:auto; margin-left:8px;">
		<option value="All">All</option>
			<option value="FirstName">FirstName</option>
			<option value="SurName">Surname</option>
			<option value="PhoneNumber">PhoneNumber</option>
			<option value="Mail">Mail</option>
			<option value="City">City</option>
	</select>

<br />
<input type="radio"
	   asp-for="SelectedMemberType"
	   value=""/>
<label>All</label>
<br />
@foreach(var type in Enum.GetValues<MemberType>())
{
	<input type="radio"
		asp-for="SelectedMemberType"
		value="@type" />
	<label>@type</label>
	<br />
}
	<input type="submit" value="Filter" />
</form>

<table class="table">
	<form method="Get">
	<thead>
		<tr>
			<th>Id</th>
			<th>MemberType</th>
			<th>FirstName</th>
			<th>Surname</th>
			<th>Mail</th>
			<th>PhoneNumber</th>
			<th>City</th>
			<th>Address</th>
		</tr>
	</thead>
	</form>
	<tbody>
		@foreach (Member item in Model.Members)
		{
			<tr>
				 <td>
					 <img src="~/Images/MemberImages/@item.MemberImage" alt="Member Image" width="60" height="60" class="rounded-circle" />"
				</td> 
				<td>@item.Id</td>
				<td>@item.TheMemberType</td>
				<td>@item.FirstName</td>
				<td>@item.SurName</td>
				<td>@item.Mail</td>
				<td>@item.PhoneNumber</td>
				<td>@item.City</td>
				<td>@item.Address</td>
				<td class="form-group">
					<a asp-page="UpdateMember" asp-route-ID="@item.Id" value="Update Member" class="btn btn-primary">Update</a>
				</td>
				<form method="Post">
				<td class="form-group">
					<input type="submit" asp-page-handler="Delete" asp-route-ID="@item.Id" value="Delete member" class="btn btn-danger" />
				</td>
				</form>
			</tr>
		}
	</tbody>
</table>